@font-face {
    font-family: "Monadi";
    src: url('~assets/fonts/Monadi.ttf') format('truetype');
}
@font-face {
    font-family: "Helvetica Neue Bold";
    src: url('~assets/fonts/HelveticaNeueLTW20-Bold.woff') format('woff');
}
@font-face {
    font-family: "Helvetica Neue Light";
    src: url('~assets/fonts/HelveticaNeueLTW20-Light.woff') format('woff');
}